{% extends 'base.html.twig' %}

{% block title %}Terrains index{% endblock %}

{% block body %}
    <h1>Terrains index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terrain in terrains %}
            <tr>
                <td>{{ terrain.id }}</td>
                <td>{{ terrain.nom }}</td>
                <td>
                    <a href="{{ path('app_terrains_show', {'id': terrain.id}) }}">show</a>
                    <a href="{{ path('app_terrains_edit', {'id': terrain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_terrains_new') }}">Create new</a>
{% endblock %}
