{% extends 'base.html.twig' %}

{% block title %}GameSet - Login{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
         
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" class="form-control" value="{{ last_username }}" name="_username" id="username" aria-describedby="emailHelp" autocomplete="email" required autofocus>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <p><a class="link-opacity-50-hover" href="/register">Créer un compte</a></p>
        

       
    </form>
{% endblock %}